@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: #f2f2f2;
  --secondary-colour: #151515;
  --accent-colour: #d1d5db;
}

body {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

*::selection {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grain {
  background-image: url("../../public/1k_Dissolve_Noise_Texture.png");
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.anim-grain {
  background-image: url("../../public/1k_Dissolve_Noise_Texture.png");
  height: 300%;
  width: 300%;
  position: absolute;
  pointer-events: none;
  animation: grain 4s steps(5) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(-15%, -20%);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
